

body{
    background-image: url('./images/pattern-background-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;

}

/* Layout */

.page {
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
    width: 100vw;
}

.card{
    width: 35%;
    border-radius: 0;
    border-radius: 20px 20px 20px 20px;
    background-color: hsl(225, 100%, 98%);
}

#image{
    border-radius: 20px 20px 0 0;
    width: 100%;
}

#heading{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
    color:  hsl(223, 47%, 23%);
}

#tagline{
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-align: center;
    padding-bottom: 1em;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    word-spacing: normal;
}

#plan{
    width: 90%;
    margin: 1em;
    background-color: rgb(246, 246, 246);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0.3em;
}

#plan-name{
    font-size: 70%;
    font-weight: 600;
    position: absolute;
    margin-top: 0em;
    margin-left: 1em;
    color:  hsl(223, 47%, 23%);
}

#plan-rate{
    font-size: 70%;
    font-weight: 400;
    box-sizing: border-box;
    margin-top: 2em;
    position: absolute;
    margin-left: 1em;
    color: hsl(224, 23%, 55%);
}

#change{
    font-size: 60%;
    margin-right:1em;
    margin-top: 1.5em;
    float: right;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    
}

#btn{
    width: 90%;
    margin: 1.25em;
    font-weight: 900;
    padding: 0.6em;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border-radius: 6px;
    box-shadow: 50px, 5px, black;
}

#cancel{
    font-size: 65%;
    text-align: center;
    margin-bottom: 2em;
    
}

#cancel a{
    color: rgb(51, 51, 250);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

#cancel a:hover{
    color:  hsl(223, 47%, 23%);
}

#change:hover{
    color: hsl(224, 23%, 55%);
}

#btn:hover{
   background-color: hsl(245, 68%, 56%);

}

@media screen and (max-width: 860px){
    html{
        font-size: 18px;
    }

    .card{
        width: 50%;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 18px;
    }

    .card{
        width: 75%;
    }
}

@media screen and (max-width: 340px){
    html{
        font-size: 16px;
    }

    .card{
        width: 90%;
    }
}
